

body{
    margin: 0;
    height: 100vh;
}


#wordleGridContainer{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-column-gap: 5px;
    margin-top: 100px;
}


.letter{
    border: 1px solid white;
    aspect-ratio: 1;
    background: #a4c6e5;
    text-align: center;
    border-radius: 7px;
    font-size: 30px;
    font-family: 'Mochiy Pop P One', sans-serif;
    height: 50px;
    width: 50px;
    color: black;
}

#parentDiv div{
}

#timer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#parentDiv{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    height: 80%;
    background-color: #003566;
    align-content: center;
    justify-content: space-evenly;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


#hintsList{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





