

body{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0;
    height: 100vh;
}


#wordleGridContainer{
    display: grid;
    grid-template-rows: auto;
    padding: 15px;
    grid-row-gap: 10px;
    justify-content: center;
    grid-column-start: 2;
    background-color: ghostwhite;
    grid-column-end: 3;

}


.letter{
    border: 1px solid white;
    aspect-ratio: 1;
    background: #003566;
    text-align: center;
    border-radius: 7px;
    font-size: 40px;
    font-family: 'Mochiy Pop P One', sans-serif;
    height: 50px;
    width: 50px;
}

#parentDiv div{
}

#timer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#parentDiv{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    height: 80%;
    background-color: #003566;
    align-content: center;
    justify-content: space-evenly;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001d3d;
    padding: 10px;
}

#leaderboard{
    grid-row-start: 1;
    text-align: left;
    color: #ffc300;
}

#hintsList{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    color: #ffc300;
}

#powerupsList{
    background-color: #003566;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4
}

h1{
    color: #ffc300;
}

