<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@700&display=swap');
    </style>
    <link type="text/css" href="/css/gameScreen.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body style="height: 100vh">



<div class="modal hide fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Welcome To Wordle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <h5>Enter a username</h5>
                <input id="playerUserNameSelection" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="modal-footer">
                <button id="joinGame" type="button" class="btn btn-primary">Join</button>
            </div>

        </div>
    </div>
</div>

<div>


    <div style="height: 100%" class="container-fluid text-center">

        <div class="row content" style="display: flex; padding: 20px; justify-content: space-between">
            <h1 style="color: black; text-align: center" class="h1">KaWordle</h1>
            <h5  id="gameCode" style="" th:text="${gameCode}"></h5>
        </div>

    <div style="height: 100%" class="row content">

        <div class="col-sm-2 sidenav" >
            <h2>Leaderboard</h2>

            <ol class="list-group" id="playerList">


                <div th:each="player: ${players}">
                    <li class="list-group-item d-flex justify-content-between align-items-center" th:inline="text">[[${player.playerUsername}]]<span class="badge bg-primary rounded-pill">0</span>
                    </li>
                </div>

            </ol>


        </div>


        <div class="col-sm-8 text-left">
            <div id="wordleGridContainer"></div>

            <div id="Waiting">
                <h2>Waiting</h2>
            </div>
            <div id="Correct">
                <h2>Correct</h2>
            </div>
            <div id="Incorrect">
                <h2>Incorrect</h2>
            </div>

        </div>

        <div id="hintsList" class="col-sm-2 sidenav">

            <div id="timer">

                <div>
                    60 sec
                </div>

            </div>

            <div style="text-align: left">
                <h2>Hints</h2>

                <div>Hint 1</div>
                <div>Hint 2</div>


            </div>




        </div>








    </div>



    </div>


    <div>

        <h2>Powerups</h2>



    </div>


</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/gameScreen.js"></script>
</body>
</html>