<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@700&display=swap');
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <link type="text/css" href="/css/gameScreen.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/gameScreen.js"></script>
    <script src="/js/gameScreenWebSockets.js"></script>
    <script src="/js/animations.js"></script>
</head>
<body style="height: 100vh">


<div class="modal hide fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Welcome To Wordle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <h5>Enter a username</h5>
                <input id="playerUserNameSelection" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="modal-footer">
                <button id="joinGame" type="button" class="btn btn-primary">Join</button>
            </div>

        </div>
    </div>
</div>


<div id="mainGameScreen">


    <div style="height: 100%" class="container-fluid text-center">

        <div class="row content" style="display: flex; padding: 20px; justify-content: space-between">
            <h1 style="color: black; text-align: center" class="h1">KaWordle</h1>
            <h5  id="gameCode" style="" th:text="${gameCode}"></h5>
            <h6 id="responseMsg"></h6>
        </div>

    <div style="height: 100%; min-height: 500px" class="row content">

        <div class="col-sm-2 sidenav" >
            <h2 class="h2">Leaderboard</h2>

            <table  class="table table-borderless table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col">Points</th>
                </tr>
                </thead>
                <tbody id="leaderboardTableBody">
                <tr th:each="player: ${players}">
                    <th scope="row">0</th>
                    <td th:inline="text">[[${player.playerUsername}]]</td>
                    <td><span class="badge bg-primary rounded-pill">0</span></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div id="mainGameArea" class="col-sm-8 text-left">
            <div id="wordleGridContainer"></div>

            <div id="Waiting">
                <div style="background-color: #fd7e14; padding: 30px; border-radius: 30px">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_OYpJ8h.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>

                </div>
            </div>
            <div id="Correct">
                <h2>Correct</h2>
                <input style="border: none" class="readonly form-control-sm" id="pointsEarned" type="text">
            </div>
            <div id="Incorrect">
                <h2>Incorrect</h2>
            </div>

        </div>

        <div id="hintsList" class="col-sm-2 sidenav">

            <div id="timer">

                <div id="timerText">
                    60
                </div>

            </div>

            <div style="text-align: left">
                <h2>Hints</h2>
                <div>Hint 1</div>
                <div>Hint 2</div>
            </div>

        </div>

    </div>

    </div>

    <div style="padding-top: 30px">

        <div style="display: flex; justify-content: space-evenly; align-items: center";>
            <div id="sabotageDiv" class="dropup">
                <button  id="sabotageDropdownDiv" class="btn btn-secondary dropdown-toggle btn-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sabotage
                </button>
                <ul id="dropdownSabotage" class="dropdown-menu sabotagePlayerList" aria-labelledby="dropdownMenuButton1"></ul>
            </div>

            <div id="gameEventNotificationScreen" style="display: flex; justify-content: center; align-items: center; background-color: #f3f3f3; width: 50%; height: 75px;">

                <h4 id="gameMessage">

                </h4>
            </div>

            <div id="powerupDiv" class="dropup">
                <button  id="powerupDropdownDiv" class="btn btn-secondary dropdown-toggle btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Powerups
                </button>
                <ul id="dropdownPowerup" class="dropdown-menu sabotagePlayerList" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="#">Free Letter</a>
                    <a class="dropdown-item" href="#">+ 15 second bonus</a>
                    <a class="dropdown-item" href="#">Extra Guess</a>
                </ul>
            </div>

        </div>

    </div>

</div>

<div id="resultsScreen">

    <h1 class="ml6">
  <span class="text-wrapper">
    <span class="letters">Game Over!</span>
  </span>
    </h1>


</div>


</body>
</html>