<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@700&display=swap');
    </style>
    <link type="text/css" href="/css/gameScreen.css" rel="stylesheet">

</head>
<body style="background-color: cornflowerblue">


<div class="navbar">
    <h1>The Wordle Game</h1>
    <input style="height: 40px; " placeholder="Enter Code To Join">
</div>

<div id="parentDiv" style="">

    <div style="grid-column-start: 2; background-color: black; grid-column-end: 3" id="wordleGridContainer"></div>

    <div style="grid-row-start: 1; text-align: left">
        <h2>Leaderboard</h2>
        <ol>
            <li>Player 1</li>
            <li>Player 2</li>
            <li>Player 3</li>
            <li>Player 4</li>

        </ol>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

        <div id="timer">

            <div>
                60 sec
            </div>

        </div>

        <div>
            <h2>Hints</h2>
            <ol style="padding: 0">
                <li>This is Hint 1</li>
                <li>This is Hint 2</li>
                <li>This is Hint 3</li>
                <li>This is Hint 4</li>

            </ol>
        </div>


    </div>


    <div style="grid-row-start: 4; background-color: antiquewhite;  grid-column-start: 1; grid-column-end: 4">

        <h1>Powerups?</h1>


    </div>


</div>



<input id="word">
<input id="totalGuesses">

<button onclick="nextWordle()">Next Wordle</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/gameScreen.js"></script>
</body>
</html>