<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Wordle Multiplayer</title>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body style="height: 100vh; margin: 0">


<div style="height: 100vh; padding: 20px; display: grid; align-items: center; background-color: #3f8be0;  grid-template-columns: repeat(2, 1fr)">

    <div>
        <h1 class="display-1">Wordle Multiplayer</h1>

    </div>

    <div style="display: flex; padding: 5px; flex-direction: column; align-items: center">

        <a style="font-size: 50px;  padding: 5px; border-radius: 5px; border: 2px solid orange; text-decoration: none; color: white"
           th:href="@{/login}">Login</a>

        <br>
        <a style="font-size: 50px; padding: 5px; border-radius: 5px; border: 2px solid orange; text-decoration: none; color: white"
           th:href="@{/register}">Register</a>


        <br>

        <label style="color: white" class="form-label">Game Code: </label>
        <input placeholder="abc123" class="form-control"/>
        <br>
        <button type="submit" class="btn btn-primary">Join Game</button>


    </div>


</div>

</body>
</html>