<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wordle Multiplayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/loginScreen.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/e91255cdbc.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-login">
    <div class="container-login-div">
        <div class="wrapper">
            <form class="login-form validate-form" th:action="@{/gameView/}" method="post">
                <span class="login-form-logo">
                    <i class="fa-solid fa-square-pen fa-2x"></i>
                </span>
                <span class="login-form-title">Wordle Multiplayer</span>
                <div class="wrapper-input">
                    <input class="input" id="username" type="text" name="gameCode" placeholder="Enter A Game Code" autocomplete="sigh" style="width: 100% !important;">
                </div>
                <div class="container-login-form-btn">
                    <button type="button" class="login-form-btn">Enter</button>
                </div>
                <div class="forget-password-div">
                    <a class="forget-password-text" th:href="@{/login}">Login?</a>
                    <span class="forget-password-text">or</span>
                    <a class="forget-password-text" th:href="@{/register}">Register?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
</body>
</html>