<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wordle Multiplayer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/loginScreen.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/e91255cdbc.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-login">
    <div class="container-login-div">
        <div class="wrapper">
            <form class="login-form validate-form" th:action="@{/login}" method="post">
                <span class="login-form-logo">
                    <a style="color: black" th:href="@{/}"><i class="fa-solid fa-square-pen fa-2x"></i></a>
                </span>
                <span class="login-form-title">Login</span>
                <div class="alert text-center" th:if="${errorMessage}">Username or password was not found.</div>
                <div class="wrapper-input">
                    <i class="fa-solid fa-user"></i>
                    <input class="input" id="username" type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="wrapper-input">
                    <i class="fa-solid fa-lock input-focus"></i>
                    <input class="input" id="password" type="password" name="password" placeholder="Password">
                </div>
                <div class="container-login-form-btn">
                    <button type="submit" name="login" class="login-form-btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/FormValidation.js}"></script>
</body>
</html>