<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/quiz_list.js"></script>
</head>
<body>

<h1>Quiz List</h1>

<h2>Logged in as <span th:text="${username}"/></h2>

<button id="hostGame">Host Game</button>

</body>
</html>