<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="ISO-8859-1">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/e91255cdbc.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/loginScreen.css}">
</head>
<body>
<div class="container-login">
  <div class="container-login-div">
    <div class="wrapper">
                <span class="login-form-logo">
                    <i class="fa-solid fa-square-pen fa-2x"></i>
                </span>
        <span class="login-form-title">Create an account</span>
        <form class="submit-form" th:action="@{/process_register}" th:object="${user}" method="post">
          <div class="wrapper-input validate-input" data-validate="Enter first name">
            <i class="fa-solid fa-pen"></i>
            <input class="input required-input" type="text" name="firstname" placeholder="First Name" th:field="*{firstName}" autocomplete="sigh">
          </div>
          <div class="wrapper-input" data-validate="Enter last name">
            <i class="fa-solid fa-pen"></i>
            <input class="input required-input" type="text" name="lastname" placeholder="Last Name" th:field="*{lastName}" autocomplete="sigh">
          </div>
          <div class="wrapper-input" data-validate = "Enter username">
            <i class="fa-solid fa-user"></i>
            <input class="input required-input" type="text" name="username" placeholder="Username" th:field="*{username}" autocomplete="off">
          </div>
          <div class="wrapper-input" data-validate = "Enter email">
            <i class="fa-solid fa-envelope"></i>
            <input class="input required-input" type="email" name="email" placeholder="Email" th:field="*{email}" autocomplete="off">
          </div>
          <div class="wrapper-input" data-validate="Enter password">
            <i class="fa-solid fa-lock input-focus"></i>
            <input class="input required-input" type="password" name="password" placeholder="Password" th:field="*{password}" autocomplete="off">
          </div>
          <div class="container-login-form-btn">
            <button type="button" class="login-form-btn" onclick="checkForm()">Register</button>
          </div>
          <div class="forget-password-div">
            <a class="forget-password-text" th:href="@{/login}">Already have an account?</a>
          </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/FormValidation.js}"></script>
</body>
</html>